.git
.gitignore
.github

docker-compose.yml
Dockerfile
.dockerignore

node_modules/
npm-debug.log
yarn-error.log

var/
vendor/

public/build/
public/assets/

.idea/
.vscode/
*.swp
*.swo

.env
.env.local
.env.*.local

tests/

*.md
